<!DOCTYPE html>
<html >
<head>    
    <link rel="icon" href="img/logoo.jpg">    
</head>
<body>
    <div >
        <main>
            @RenderBody()
        </main>
    </div>

    
    
</body>
</html>
