@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <iframe src='https://webchat.botframework.com/embed/IATSBotEh?s=iKxZirMP5fc.LUzScRVgdb66juivM1_Uamb_s74G-voeFKwG2GjDGss'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
    
</div>
